.head {
    background-color: green;
    width: 100%;
    padding: 20px;
}

.contents {
    background-color: red;
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left {
    background-color: blue;
    color: white;
    width: 100px;
}

.right {
    background-color: yellow;
    color: black;
    width: 200px;
}
